@{
    ViewData["Title"] = "Pedidos";
}

<div class="container py-5">
    <h1 class="text-center" style="color: #000;">
        ¡Realiza tu Pedido!
    </h1>
    <p class="text-center text-dark">
        Aquí podrás ver tus pedidos anteriores o empezar uno nuevo.
    </p>

</div>