@{
    ViewData["Title"] = "Reseñas";
}

<div class="container py-5">
    <h1 class="text-center" style="color: #000;">
        Opiniones y Reseñas
    </h1>
    <p class="text-center text-dark">
        ¡Déjanos tu opinión o lee lo que dicen nuestros clientes!
    </p>

</div>